.expanded {
  padding: 10px;
}

#counterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 200ms ease;
}

#counterWrapper.visible {
  pointer-events: all;
  border-top: 1px solid rgba(175, 175, 175, 0.801);
  border-bottom: 1px solid rgba(175, 175, 175, 0.801);
  margin: 5px;
  height: 50px;
  opacity: 1;
}

span {
  display: inline-block;
  padding: 10px 15px;
}
