<div id="content">
  <div id="top">
    <h2 class="darkText">Warenkorb</h2>
  </div>
  <div *ngIf="productEntries.length" id="middle">
    <div class="entries">
      <div *ngFor="let entry of productEntries">
        <app-cart-item [entry]="entry"></app-cart-item>
      </div>
    </div>
  </div>
  <div id="bottom">
    <div *ngIf="productEntries.length; else emptyCartBlock">
      <h2>Gesamtsumme</h2>
      <div>
        <span>Zwischensumme</span><span>{{ sumOfCart }}</span>
      </div>
      <div><span>Versand</span><span>kostenlos</span></div>
      <div id="sum">Endbetrag {{ sumOfCart }} €</div>
      <div class="btn" (click)="onCheckoutButtonClick()">Zur Kasse</div>
    </div>
    <ng-template #emptyCartBlock>
      <div>
        <div>🙃</div>
        Dein Warenkorb ist leer
      </div>
    </ng-template>
  </div>
</div>
