#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: transparent;
}

#content {
  padding: 5px 50px;
  background-color: var(--navigationBackGroundColor);
}

h1 {
  font-size: 1.2rem;
  text-align: center;
}
