#content {
  background-color: var(--navigationBackGroundColor);
  padding: 20px;
  height: calc(100vh - var(--navigationHeight));
  display: grid;
  grid-template-rows: 100px auto auto;
  flex-wrap: wrap;
  color: var(--primaryColor);
}

#top {
  width: 100%;
}

h2 {
  text-align: center;
  padding: 0;
}

#middle {
  padding: 20px;
  overflow: auto;
  background-color: var(--navigationBackGroundColor);
}

#bottom {
  text-align: center;
  padding: 20px;
}

#sum {
  padding: 20px 10px;
}

.btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  text-align: center;
}

app-cart-item {
  display: block;
}
