#container {
  padding: 20px;
  height: 100%;
  width: 100%;
  position: relative;
}

#content {
  background-color: var(--navigationBackGroundColor);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

#body {
  flex-grow: 1;
  overflow: scroll;
  padding: 20px;
}

#header {
  padding: 10px;
  position: relative;
}

#images {
  height: 250px;
  padding: 20px;
}

app-product-image-box {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#description {
  padding: 20px;
  overflow: scroll;
}

#close {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  transition: all 70ms ease-in;
}

#close:hover {
  cursor: pointer;
  height: 34px;
  width: 34px;
  right: 18px;
}

#close:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--textColorDark);
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}

#close::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--textColorDark);
  transform: rotate(-45deg);
}

app-detailed-variation-item {
  display: inline-block;
}

@media only screen and (min-width: 700px) {
  #content {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  #body {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    width: 100%;
  }

  #left {
    text-align: center;
    height: 100%;
    overflow: scroll;
  }

  #right {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}
