<div (click)="onCloseClick()" id="container">
  <div (click)="$event.stopPropagation()" id="content">
    <div id="header">
      <div id="close" (click)="onCloseClick()"></div>
      <h2>{{ product.title }}</h2>
      <span>{{ product.shortDescription }}</span>
    </div>
    <div id="informationWrapper">
      <div id="subWrapper">
        <div id="images">
          <div id="imageBox">
            <img
              *ngIf="!product.image"
              src="../../../assets/img/esansBottles Kopie.png"
            />
            <img
              *ngIf="product.image"
              src="../../../assets/img/{{ product.image }}"
            />
          </div>
        </div>
        <div id="description" *ngIf="product.longDescription">
          <p>
            {{ product.longDescription }}
          </p>
        </div>
        <div id="variations">
          <div id="variations_top">
            <div
              id="variationContainer"
              [ngClass]="{ inValid: !selectedVariantsCounter > 0 }"
              (click)="$event.stopPropagation()"
            >
              <div class="variation" *ngFor="let variation of variants">
                <app-detailed-variation-item
                  [selected]="variation.selected"
                  (click)="onDetailedVariationItemClick(variation.variant)"
                ></app-detailed-variation-item>
              </div>
            </div>
          </div>
          <div id="variations_bottom">
            <div
              (click)="onAddToCartButtonClicked()"
              id="cartButton"
              [ngClass]="{ deactivated: !selectedVariantsCounter > 0 }"
            >
              In den Warenkorb
              <div id="selectionHint">
                Bitte Auswahl treffen
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
