#container {
  height: 100%;
  width: 100%;
  background-color: var(--navigationBackGroundColor);
  display: flex;
  flex-direction: column;
}

#header {
  position: relative;
}

#body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  overflow: scroll;
}

#top {
  max-height: 50vh;
  overflow: scroll;
}

#bottom {
  text-align: center;
  overflow: scroll;
}

#description {
  padding: 10px;
}

app-product-image-box {
  display: inline-block;
  height: 150px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

#close {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  transition: all 70ms ease-in;
}

#close:hover {
  cursor: pointer;
  height: 34px;
  width: 34px;
  right: 18px;
}

#close:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--textColorDark);
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}

#close::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--textColorDark);
  transform: rotate(-45deg);
}
app-detailed-variation-item {
  display: inline-block;
}

@media only screen and (min-width: 700px) {
}
