#container {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#content {
  position: relative;
  background-color: white;
  overflow: scroll;
  height: 99%;
  width: 99%;
  display: flex;
  flex-direction: column;
}

#header {
  position: relative;
  padding: 5px;
}

h2 {
  padding: 5px;
}

#informationWrapper {
  padding: 10px;
  flex-grow: 1;
  position: relative;
  background-color: blanchedalmond;
  justify-content: space-around;
}

/* used to fit the height of the parent so that parent is not expanding
  although its parent is flex and growing
*/
#subWrapper {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#images {
  background-color: aqua;
  display: grid;
  padding: 15px;
  justify-content: center;
}

#images img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
  border: 1px solid black;
}

#description {
  background-color: blueviolet;
  padding: 15px;
  flex-basis: 40%;
  text-align: center;
  overflow: scroll;
}

#variations {
  background-color: yellow;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#variations_top {
  background-color: aqua;
  flex-grow: 1;
}

#variations_bottom {
  height: 20px;
  background-color: gray;
}

.inValid {
  border: 1px solid red;
}

#close {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  transition: all 70ms ease-in;
}

#close:hover {
  height: 34px;
  width: 34px;
  left: 18px;
}

#close:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--textColorDark);
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}

#close::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--textColorDark);
  transform: rotate(-45deg);
}

.variation {
  margin: 5px;
}
