* {
  text-align: center;
  color: inherit;
}

.recommendation {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.recommendation.visible {
  opacity: 1;
}

#customerCommentPoints {
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding: 20px;
}

.customerCommentPoint {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--textColorDark);
  border-radius: 50%;
  margin: 5px;
  transition: all 1s ease-in-out;
}

.customerCommentPoint.active {
  background-color: var(--textColorDark);
}

.arrow {
  width: 12px;
  height: 12px;
  margin: 5px;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
