<div>
  <div>
    <div
      *ngIf="recommendationToShow"
      ngClass="recommendation {{ recommendationClass }}"
    >
      <app-customer-comment
        shortcutSite="{{ recommendationToShow.site }}"
        linkToSite="{{ recommendationToShow.url} }"
        comment="{{ recommendationToShow.comment }}"
      >
      </app-customer-comment>
    </div>
  </div>
</div>
<div *ngIf="recommendations.length > 1" id="customerCommentPoints">
  <div (click)="onRecommendationArrowClick(false)" class="arrow">
    &lt;
  </div>
  <div
    (click)="onRecommendationPointClick(i)"
    ngClass="customerCommentPoint {{
      recommendations[i].active ? 'active' : ''
    }}"
    *ngFor="let point of recommendations; let i = index"
  ></div>
  <div (click)="onRecommendationArrowClick(true)" class="arrow">
    &gt;
  </div>
</div>
