<header>
  <section>
    <div id="headerText">
      <h1>
        E99-EsAns
      </h1>
      <h3>Das Parfümeriehaus mit Stil und Qualität</h3>
    </div>
    <div class="imageDiv">
      <img src="../../../assets/img/esansBottles.png" />
    </div>
    <a id="shopButton" routerLink="/products">Finde dein Traumduft</a>
    <a href="#basicInfo">
      <div id="scrollInfo">
        <div>
          Weitere Informationen
        </div>
        <div class="arrowDown"></div>
      </div>
    </a>
  </section>
</header>
<section id="basicInfo">
  <h2>E99-EsAns Duftöle</h2>
  <div class="wrapper">
    <h5>In <span class="bold">Handarbeit</span> produziert</h5>
    <h5>
      Wir verwenden <span class="bold"> natürliche Inhaltsstoffe </span> aus
      ausgewählten Plantagen
    </h5>
    <h5>
      Kunst braucht Zeit. Dein E99-EsAns Duft hat eine
      <span class="bold"> lange Reifezeit</span> hinter sich.
    </h5>
  </div>
  <div id="personalMessage">
    Dafür stehe ich mit meinem Namen
    <div class="signature">Musab Karalı</div>
  </div>
</section>
<section id="productCategories">
  <h2>Hier findest du das passende Duftöl</h2>
  <div>
    <a class="productCategoryLink" routerLink="/products">
      Alle Produkte
    </a>
    <a class="productCategoryLink" routerLink="/men">
      Für Männer
    </a>
    <a class="productCategoryLink" routerLink="/women">
      Für Frauen
    </a>
    <a class="productCategoryLink" routerLink="/unisex">
      Unisex
    </a>
  </div>
</section>
<section id="recommendations">
  <div>
    <h2>Kundenkommentare</h2>
    <div *ngIf="recommendations">
      <app-customer-comments
        [recommendations]="recommendations"
      ></app-customer-comments>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>
      Allgemeine Informationen zu Düften
    </h2>
    <h2>Duftintensität und Wirkung</h2>
    <p>
      Je nach Zusammensetzung des Duftes haben Parfüms unterschiedliche
      Duftintensitäten und Duftwirkungen. Riechstoffauswahl und
      Riechstoffkonzentration beeinflussen sowohl die Duftintensität als auch
      die Duftwirkung. Dabei werden folgende Schwellenwerte beobachtet:
      Duftwirkungs-Schwelle: ab dieser noch nicht wahrnehmbaren Intensität
      reagiert der Körper auf den Duft. Wahrnehmungs-Schwelle: Aura, man riecht
      etwas, kann es jedoch noch nicht zuordnen. Erkennbarkeits-Schwelle: Duft
      ist erkennbar und benennbar; mit steigender Duft-Intensität wandelt sich
      der Duft von ‚angenehmer Duft‘ über ‚aufdringlicher Duft‘ bis hin zur
      Flucht-Schwelle, die unbewusst eine Fluchtreaktion auslöst.
    </p>
    <h2>Duftnoten</h2>
    <p>
      Ein Parfüm kann durch unterschiedliche Anteile der Grundbestandteile sehr
      viele verschiedene Duftnoten annehmen. Es kann beispielsweise blumige,
      moschusähnliche, orientalische, fruchtige, frische oder klassisch-elegante
      Duftnuancen aufweisen. Die meisten Parfüms setzen sich aus Kopf-, Herz-
      und Basisnote zusammen. Die Kopfnote ist unmittelbar in den ersten Minuten
      nach dem Auftragen des Parfüms auf der Haut wahrnehmbar. Da sie für den
      ersten Eindruck und die Kaufentscheidung wichtig ist, ist die Kopfnote
      meist intensiver als die anderen und wird von leichtflüchtigen Duftstoffen
      geprägt. Für gewöhnlich setzt sie sich aus leichten Duftnoten zusammen,
      aber es können schon Teile von Herz- und Basisnote anklingen. Die Herznote
      ist in den Stunden, nachdem sich die Kopfnote verflüchtigt hat, zu riechen
      und bildet den eigentlichen Duftcharakter (das Herzstück). In der Herznote
      finden sich meistens Blütennuancen, die mit anderen Aromen kombiniert
      werden. Sie wird häufig auch als Mittelnote bezeichnet. Die Basisnote ist
      der letzte Teil des Duftablaufes und enthält langhaftende und schwere
      Bestandteile.
    </p>
  </div>
</section>
<div id="socialMediaContent">
  <section>
    <h1 class="brightText">Finde uns auf ...</h1>
    <div id="socialMediaIconContainer">
      <app-social-media-icon-link
        link="https://www.google.com"
        imageSource="../../../assets/img/icons/iconfinder_Colored_Facebook3_svg_5365678.svg"
      ></app-social-media-icon-link>
      <app-social-media-icon-link
        link="https://www.google.com"
        imageSource="../../../assets/img/icons/iconfinder_1_Instagram_colored_svg_1_5296765.svg"
      ></app-social-media-icon-link>
      <app-social-media-icon-link
        link="//api.whatsapp.com/send?phone=4917657842972"
        imageSource="../../../assets/img/icons/iconfinder_1_Whatsapp2_colored_svg_5296520.svg"
      ></app-social-media-icon-link>
      <app-social-media-icon-link
        link="https://www.google.com"
        imageSource="../../../assets/img/icons/iconfinder_1_Youtube_colored_svg_5296521.svg"
      ></app-social-media-icon-link>
    </div>
  </section>
</div>
