<header>
  <a routerLink="/fragrances"
    ><div id="orderSign">Finde deinen einzigartigen Duft jetzt gleich</div>
  </a>
</header>

<div class="contentWrapper ">
  <div class="description">
    <h1>Herstellung</h1>
    <p>
      Jeder Duft von E99 EsAns ist ein Kunstwerk für sich. Es sind keine
      Fließbandprodukte aus der Fabrik. Unsere Düfte enthalten Zutaten aus
      ausgewählten Plantagen. Mancher Rohstoff muss vor seiner Verarbeitung
      zunächst über einen längeren Zeitraum reifen.
    </p>
    <p>
      E99 EsAns Düfte sind aus diesem Grund begrenzt Verfügbar.
    </p>
    <p>Kunst braucht seine Zeit.</p>
    <p>
      Hier gibt es keine billig produzierte und überteuert verkaufte
      Chemiemischung. Unsere Kunden erhalten ausgefallene, hochwertige Qualität,
      die es nicht überall zu kaufen gibt. Dafür stehe ich mit meinem Namen.
    </p>
    <p class="signature">
      Musab Karalı
    </p>
  </div>
</div>
<section id="productExamples">
  <div class="productExample">Some Content</div>
  <div class="productExample">Some other content</div>
</section>
<div
  *ngIf="recommendations && recommendations.length > 0"
  class="recommendationsWrapper"
>
  <h2>Kundenbewertungen</h2>
  <div class="customerCommentContainer">
    <div class="customerComments">
      <div
        *ngIf="recommendationToShow"
        ngClass="recommendation {{ recommendationClass }}"
      >
        <app-customer-comment
          shortcutSite="{{ recommendationToShow.site }}"
          linkToSite="{{ recommendationToShow.url} }"
          comment="{{ recommendationToShow.comment }}"
        >
        </app-customer-comment>
      </div>
    </div>
    <div id="customerCommentPoints">
      <div (click)="onRecommendationArrowClick(false)" class="arrow">
        &lt;
      </div>
      <div
        *ngFor="let point of recommendations; let i = index"
        (click)="onRecommendationPointClick(i)"
        ngClass="customerCommentPoint {{
          recommendations[i].active ? 'active' : ''
        }}"
      ></div>
      <div (click)="onRecommendationArrowClick(true)" class="arrow">
        &gt;
      </div>
    </div>
  </div>
</div>
<div class="contentWrapper" id="socialMediaContent">
  <h1>Finde uns auf ...</h1>
  <div id="socialMediaIconContainer">
    <app-social-media-icon-link
      link="https://www.google.com"
      imageSource="../../../assets/img/icons/iconfinder_Colored_Facebook3_svg_5365678.svg"
    ></app-social-media-icon-link>
    <app-social-media-icon-link
      link="https://www.google.com"
      imageSource="../../../assets/img/icons/iconfinder_1_Instagram_colored_svg_1_5296765.svg"
    ></app-social-media-icon-link>
    <app-social-media-icon-link
      link="//api.whatsapp.com/send?phone=4917657842972"
      imageSource="../../../assets/img/icons/iconfinder_1_Whatsapp2_colored_svg_5296520.svg"
    ></app-social-media-icon-link>
    <app-social-media-icon-link
      link="https://www.google.com"
      imageSource="../../../assets/img/icons/iconfinder_1_Youtube_colored_svg_5296521.svg"
    ></app-social-media-icon-link>
  </div>
</div>
<app-footer></app-footer>
