* {
  text-align: center;
}

section {
  min-height: 100vh;
  padding: var(--navigationHeight);
}

header {
  margin-top: var(--navigationHeight);
  background-image: url(../../../assets/img/hue12-photography-8rTwokBwz1w-unsplash.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#basicInfo {
  position: relative;
  background-image: url("../../../assets/img/headerBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-items: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0% 100%);
  margin-top: -3vw;
}

h1 {
  margin: 20px;
}

.container {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(
    70deg,
    rgba(143, 144, 145, 0.74),
    rgba(212, 211, 211, 0.911)
  );
  color: var(--textColorDark);
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box {
  color: var(--textColorDark);
  max-width: 300px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.container img {
  max-width: 70%;
}

#scrollInfo {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 50px;
  color: var(--textColorBright);
  animation: scrollInfoJump 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#personalMessage {
  padding: 30px;
  font-size: 1.2rem;
}

.signature {
  padding: 25px;
  font-size: 2rem;
}

#socialMediaContent {
  background-image: url(../../../assets/img/socialMediaBackground.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  align-content: center;
  margin-top: -3vw;
  margin-bottom: -3vw;
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 100%);
}

#socialMediaIconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}

p {
  padding: 20px;
  font-size: 1.1rem;
}

.productCategoryLinkList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.productCategoryLink {
  padding: 20px;
  margin: 10px;
  font-size: 1.25rem;
  border: solid 1px var(--textColorDark);
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(177, 174, 174, 0.938);
  transition: all 200ms ease-in-out;
  min-width: 150px;
}

.productCategoryLink:hover {
  background-color: rgb(153, 152, 152);
}

app-customer-comments {
  color: var(--textColorDark);
}

app-social-media-icon-link {
  margin: 15px;
  display: inline-block;
  background-color: var(--socialMediaStickerBackGroundColor);
  border-radius: 20px;
}

app-social-media-icon-link:hover {
  background-color: var(--socialMediaStickerBackGroundColorOnHover);
}

@media only screen and (max-width: 700px) {
  #basicInfo {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 500px) {
  section {
    padding: 10px;
  }

  .container {
    padding: 5px;
  }
}
