* {
  color: rgb(41, 40, 40);
}

#poster {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../../../assets/img/fragranceBottle.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#orderSign {
  position: absolute;
  top: 50vh;
  left: 10vw;
  display: inline-block;
  color: var(--navigationColor);
  background-color: var(--navigationBackGroundColor);
  font-size: 1.5rem;
  border-radius: 20px;
  max-width: 300px;
  padding: 25px;
}

#orderSign:hover {
  color: white;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 20px;
}

.contentWrapper {
  min-height: 100vh;
  background-color: rgba(231, 228, 223, 0.842);
  text-align: center;
}

.contentWrapper:first-child {
  padding-top: 100px;
}

.content {
  margin: 100px 0;
  max-width: 70vw;
  display: inline-block;
  padding: 50px;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 11px rgba(0, 0, 0, 0.57);
  background-color: rgba(168, 163, 154, 0.822);
  text-align: center;
}

.pWrapper {
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.76);
}

p {
  font-size: 1.1rem;
  padding: 10px;
  text-align: center;
}

.signature {
  font-size: 2rem;
}

#socialMediaContainer {
  background-image: url(../../../assets/img/socialMediaBackground.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  align-content: center;
}

#socialMediaInnerContainer {
  padding: 60px;
}

#socialMediaIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.socialMediaLink {
  margin: 15px;
}

app-social-media-icon-link {
  margin: 15px;
  display: inline-block;
  background-color: var(--socialMediaStickerBackGroundColor);
  border-radius: 20px;
}

app-social-media-icon-link:hover {
  background-color: var(--socialMediaStickerBackGroundColorOnHover);
}

.socialMediaIconImage {
  display: inline-block;
  background-color: var(--socialMediaStickerBackGroundColor);
  height: 50px;
  width: 50px;
}

.socialMediaIconImage:hover {
  background-color: var(--socialMediaStickerBackGroundColorOnHover);
}

app-footer {
  display: block;
  background-color: var(--navigationBackGroundColor);
}

.customerCommentContainer {
  position: relative;
}

app-customer-comment {
  padding: 20px;
  display: block;
  position: absolute;
  min-height: 100px;
  max-height: 180px;
  max-width: 25vw;
  left: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.57);
  background-color: white;
}

app-customer-comment:not(:first-child) {
  opacity: 1;
}

app-customer-comment.first {
  transform: translate3d(-50%, 50%, 50px);
  z-index: 0;
}

app-customer-comment.second {
  transform: translate3d(40%, 75%, 35px);
  z-index: 0;
}

app-customer-comment.third {
  transform: translate3d(-140%, 75%, 35px);
  z-index: 0;
}

#socialMediaContainer h1 {
  color: rgb(204, 201, 201);
}
