<header>
  <div id="headerText">
    <a routerLink="/fragrances">
      <h1 class="brightText">
        Hol deinen außergewöhnlichen Duft hier im Shop
      </h1>
    </a>
  </div>
  <a href="#basicInfo">
    <div id="scrollInfo">
      Weitere Informationen<br />
      <div class="arrowDown"></div>
    </div>
  </a>
</header>
<section id="basicInfo">
  <div class="contentBox">
    <h2>Herstellung</h2>
    <p>
      Jeder Duft von E99 EsAns ist ein Kunstwerk für sich. Es sind keine
      Fließbandprodukte aus der Fabrik. Unsere Düfte enthalten Zutaten aus
      ausgewählten Plantagen. Mancher Rohstoff muss vor seiner Verarbeitung
      zunächst über einen längeren Zeitraum reifen.
    </p>
    <p>
      E99 EsAns Düfte sind aus diesem Grund begrenzt Verfügbar.
    </p>
    <p>Kunst braucht seine Zeit.</p>
    <p>
      Hier gibt es keine billig produzierte und überteuert verkaufte
      Chemiemischung. Unsere Kunden erhalten ausgefallene, hochwertige Qualität,
      die es nicht überall zu kaufen gibt. Dafür stehe ich mit meinem Namen.
    </p>
    <p class="signature">
      Musab Karalı
    </p>
  </div>
  <div class="contentBox">
    <img src="../../../assets/img/esansBottles Kopie.png" />
  </div>
  <div id="customerComments" *ngIf="recommendations">
    <app-customer-comments
      [recommendations]="recommendations"
    ></app-customer-comments>
  </div>
</section>

<div id="socialMediaContent">
  <h1 class="brightText">Finde uns auf ...</h1>
  <div id="socialMediaIconContainer">
    <app-social-media-icon-link
      link="https://www.google.com"
      imageSource="../../../assets/img/icons/iconfinder_Colored_Facebook3_svg_5365678.svg"
    ></app-social-media-icon-link>
    <app-social-media-icon-link
      link="https://www.google.com"
      imageSource="../../../assets/img/icons/iconfinder_1_Instagram_colored_svg_1_5296765.svg"
    ></app-social-media-icon-link>
    <app-social-media-icon-link
      link="//api.whatsapp.com/send?phone=4917657842972"
      imageSource="../../../assets/img/icons/iconfinder_1_Whatsapp2_colored_svg_5296520.svg"
    ></app-social-media-icon-link>
    <app-social-media-icon-link
      link="https://www.google.com"
      imageSource="../../../assets/img/icons/iconfinder_1_Youtube_colored_svg_5296521.svg"
    ></app-social-media-icon-link>
  </div>
</div>
<app-footer></app-footer>
