.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100vw;
  color: var(--textColorBright);
}

app-shelf-item {
  padding: 20px;
  margin: 15px;
  border-radius: 20px;
  background-color: var(--textColorBright);
  text-align: center;
  color: var(--textColorDark);
}
