.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: var(--textColorBright);
}

app-shelf-item {
  margin: 15px;
  border-radius: 20px;
  background-color: rgb(179, 179, 179);
  text-align: center;
  display: inline-block;
  color: var(--textColorDark);
}
