<div (click)="closeBox()" id="wrapper">
  <div id="box" (click)="$event.stopPropagation()">
    <div id="top">
      <div (click)="closeBox()" id="close"></div>
      <h2>{{ title }}</h2>
    </div>
    <div id="content">
      <p>{{ message }}</p>
      <div id="buttons">
        <div class="btn" (click)="onLeftButtonClick()">
          {{ leftButtonText }}
        </div>
        <div class="btn" (click)="onRightButtonClick()">
          {{ rightButtonText }}
        </div>
      </div>
    </div>
  </div>
</div>
