#wrapper {
  position: relative;
  height: calc(100vh - var(--navigationHeight));
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

#box {
  display: inline-block;
  padding: 20px;
  width: 500px;
  max-width: calc(100vw - 100px);
  background-color: white;
  border-radius: 5px;
}

#top {
  position: relative;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  cursor: pointer;
}

#close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  height: 1px;
  width: calc(100% - 5px);
  background-color: black;
  transform: rotate(45deg);
}

#close::before {
  content: "";
  position: absolute;
  height: 1px;
  top: 50%;
  left: 2px;
  width: calc(100% - 5px);
  background-color: black;
  transform: rotate(-45deg);
}

#close:hover::before,
#close:hover::after {
  left: 4px;
  width: calc(100% - 8px);
}

p {
  padding: 10px;
}

h2 {
  font-size: 1rem;
  padding: 0 10px;
}

#buttons {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid rgb(155, 155, 155);
  font-size: 1rem;
  cursor: pointer;
  margin: 5px 0;
}

.btn:hover {
  border-color: rgb(0, 91, 119);
}
