label {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(134, 161, 184);
}

label:hover {
  background-color: rgb(112, 171, 219);
}

input {
  display: none;
}

#content {
  display: flex;
  border-radius: 5px;
  transition: all 250ms ease;
}

input[type="radio"]:checked + #content {
  background-color: rgb(45, 87, 122);
  color: white;
}

#option {
  padding: 10px;
  display: grid;
  align-items: center;
  flex-grow: 1;
}

#price_container {
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 70px;
}
