<div id="wrapper" *ngIf="product">
  <div id="backButton" (click)="onBackButtonClick()">
    <img src="../../../assets/img/icons/arrow_back-24px.svg" />
  </div>
  <h1>{{ product.title }}</h1>
  <div id="contentWrapper">
    <div class="images">
      <app-product-image-box [product]="product"></app-product-image-box>
    </div>
    <div id="informationWrapper">
      <div *ngIf="product.shortDescription">
        <h3>{{ product.shortDescription }}</h3>
      </div>
      <div *ngIf="product.longDescription">
        <p>{{ product.longDescription }}</p>
      </div>
      <div id="options">
        <div *ngIf="product.variations">
          <div *ngFor="let variation of product.variations">
            <div
              class="optionButton"
              [ngClass]="{ selected: selectedVariant === variation }"
              (click)="onVariationClick(variation.id)"
            >
              <span>{{ variation.option }}</span>
              <span>{{ variation.price }} € </span>
            </div>
          </div>
          <div
            id="cartButton"
            [ngClass]="{ inActive: !selectedVariant }"
            (click)="onCartButtonClick()"
          >
            In den Warenkorb
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
