#wrapper {
  text-align: center;
  position: relative;
  margin-top: var(--navigationHeight);
  min-height: calc(100vh - var(--navigationHeight));
}

#backButton {
  width: 35px;
  height: 35px;
  position: fixed;
  top: calc(var(--navigationHeight) + 15px);
  left: 15px;
}

#backButton img {
  width: 100%;
  height: 100%;
}
