app-navigationbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--navigationHeight);
  background-color: var(--navigationBackGroundColor);
  color: rgb(196, 192, 192);
  z-index: 10;
}

router-outlet {
  margin-top: 60px;
  display: block;
}
