app-navigationbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: rgba(43, 41, 41, 0.781);
  color: rgba(201, 196, 196);
  z-index: 1;
}

router-outlet {
  display: block;
}
