h1 {
  text-align: center;
  color: var(--textColorBright);
}

section {
  margin-top: var(--navigationHeight);
  min-height: 100vh;
  background-image: url("../../../assets/img/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background-color: rgba(43, 39, 39, 0.404);
}
