section {
  padding-top: var(--navigationHeight);
  background: linear-gradient(120deg, rgb(32, 47, 95), rgb(79, 107, 121));
}

h1 {
  text-align: center;
  color: var(--textColorBright);
  padding: 30px;
}

.container {
  height: 100vh;
  overflow: scroll;
}
