div {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
}

div div {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: rgb(173, 173, 173);
  transition: all 0.2s ease-in-out;
}

div div:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: -6px;
  background-color: rgb(173, 173, 173);
  transition: all 0.3s ease-in-out;
}

div div:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 6px;
  background-color: rgb(173, 173, 173);
  transition: all 0.3s ease-in-out;
}

div.clicked div {
  background-color: transparent;
}

div.clicked div:after {
  transform: rotate(45deg);
  top: 0;
}

div.clicked div:before {
  transform: rotate(-45deg);
  top: 0;
}
