<div id="container" (click)="onItemClicked()">
  <h3>{{ product.title }}</h3>
  <img
    *ngIf="!product.image"
    src="../../../assets/img/esansBottles Kopie.png"
  />
  <img *ngIf="product.image" src="../../../assets/img/{{ product.image }}" />
  <div>
    <p>{{ product.shortDescription }}</p>
  </div>
  <div
    (click)="onAddToCartButtonClicked(); $event.stopPropagation()"
    class="addToCartButton"
  >
    In den Warenkorb
  </div>
  <app-product-details
    [product]="product"
    (click)="$event.stopPropagation()"
    (closeHandler)="toggleDetailsView()"
    [ngClass]="{ open: productDetailsVisible }"
  ></app-product-details>
</div>
