/*
.addToCartButton {
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--textColorDark);
  color: var(--textColorBright);
  box-shadow: 0px 6px 0px -2px rgb(115, 145, 175);
}
.addToCartButton:hover {
  cursor: pointer;
  color: white;
}

.addToCartButton:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0px -2px rgb(94, 125, 155);
}
*/

.inValid {
  border: 1px solid red;
}

#container {
  padding: 20px;
}

#container:hover {
  padding: 25px;
}

app-product-details {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0vw;
  height: 0;
  opacity: 0;
  background-color: rgba(61, 59, 59, 0.527);
  transition: all 300ms;
  pointer-events: none;
}

app-product-details.open {
  height: calc(100vh - var(--navigationHeight));
  width: 100vw;
  left: 0;
  top: var(--navigationHeight);
  opacity: 1;
  display: block;
  pointer-events: all;
}
