h3 {
  padding: 0 10px;
  color: var(--textColorDark);
}

p {
  color: var(--textColorDark);
  padding: 0;
  font-size: 1rem;
}

app-product-details {
  position: fixed;
  left: 0;
  top: var(--navigationHeight);
  display: none;
  height: 0;
  width: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
  pointer-events: none;
  z-index: 1;
}

app-product-details.open {
  width: 100vw;
  height: calc(100vh - var(--navigationHeight));
  display: inline-block;
  opacity: 1;
  pointer-events: all;
}

app-product-image-box {
  border-radius: 3px 3px 0 0;
  padding: 10px;
  display: inline-block;
  height: 150px;
  min-width: 150px;
  width: 100%;
  border: 0 0 0 1px solid rgb(138, 158, 172);
}

#description {
  padding: 10px;
}
