#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100%;
}

app-hamburger-icon {
  display: none;
  position: relative;
  width: 45px;
  height: 45px;
  padding: 10px;
}

app-hamburger-icon:hover {
  box-shadow: 0px 0px 3px 2px rgb(177, 176, 176);
  border-radius: 50%;
}

ul li {
  display: inline-block;
  padding: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
}

a:hover {
  color: gray;
}

app-shopping-cart-icon {
  display: inline-block;
  height: 45px;
  width: 45px;
}

@media only screen and (max-width: 700px) {
  app-hamburger-icon {
    display: inline-block;
  }

  ul {
    display: block;
    position: fixed;
    top: var(--navigationHeight);
    padding: 15px;
    height: 100vh;
    width: 100vw;
    left: -100%;
    transition: all 0.3s ease-in-out;
    background-color: var(--navigationBackGroundColor);
    color: var(--textColorDark);
  }

  ul.visible {
    left: 0;
  }

  ul li {
    display: block;
    text-align: center;
    padding: 15px;
  }
}
