#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}

app-hamburger-icon {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}

ul li {
  display: inline-block;
  padding: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 600px) {
  app-hamburger-icon {
    display: inline-block;
  }

  ul {
    display: block;
    position: fixed;
    top: 50px;
    padding: 15px;
    height: 100vh;
    width: 100vw;
    left: -100%;
    transition: all 0.3s ease-in-out;
  }

  ul.visible {
    left: 0;
  }

  ul li {
    display: block;
    text-align: center;
    padding: 15px;
  }
}
