/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
  scroll-behavior: smooth;
}

.signature {
  display: block;
  font-family: "Parisienne", cursive;
  font-size: 1.25rem;
}

:root {
  --navigationBackGroundColor: rgba(214, 211, 211, 0.979);
  --navigationHeight: 80px;
  --socialMediaStickerBackGroundColor: rgba(255, 255, 255, 0.637);
  --socialMediaStickerBackGroundColorOnHover: rgba(255, 255, 255, 0.747);
  --textColorBright: rgb(223, 213, 213);
  --textColorDark: rgb(53, 89, 117);
  --textBackGroundBright: rgba(248, 248, 248, 0.774);
  --buttonBackGroundColor: rgba(189, 193, 194, 0.836);
  --buttonBackGroundColorHover: rgba(216, 217, 218, 0.918);
  --buttonBackGroundColorChecked: rgb(53, 89, 117);
  --buttonBoxShadowColor: rgba(107, 105, 105, 0.781);
}

html {
  font-size: 18px;
}

.arrowDown {
  display: inline-block;
}

.arrowDown:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: var(--textColorBright);
  transform: rotate(-45deg);
}

.arrowDown:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: var(--textColorBright);
  transform: translateX(6px) rotate(45deg);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  padding: 10px;
  font-size: 1.25rem;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: var(--textColorBright);
  text-decoration: none;
}

p {
  font-size: 1rem;
  padding: 5px;
}

.brightText {
  color: var(--textColorBright);
}

.darkText {
  color: var(--textColorDark);
}

.gradient-dark {
  background-image: linear-gradient(145deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.gradient-bright {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.61)
  );
}

app-footer {
  display: block;
  background: linear-gradient(
    70deg,
    rgba(151, 150, 150, 0.856),
    var(--navigationBackGroundColor)
  );
  color: var(--textColorDark);
  min-height: 30vh;
  padding: 50px;
  place-content: center;
}

app-cart {
  position: fixed;
  top: var(--navigationHeight);
  right: -100%;
  width: 100vw;
  z-index: 2;
  transition: all 300ms ease-in-out;
}

app-cart.visible {
  right: 0;
}

.clipPathRegion {
  height: 7vw;
}

.addToCartButton {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  border: 1px solid rgb(61, 63, 68);
  background-color: var(--buttonBackGroundColor);
  transition: all 200ms ease;
  box-shadow: 0px 2px 5px 0px rgba(66, 62, 66, 1);
}

.addToCartButton:hover {
  background-color: var(--buttonBackGroundColorHover);
}

.addToCartButton:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 5px 0px rgba(66, 62, 66, 1);
}

.addToCartButton.deactivated {
  opacity: 0.5;
  pointer-events: none;
}

.addToCartButton.deactivated::after {
  content: "Bitte Auswahl treffen";
  display: grid;
  align-items: center;
  color: rgb(141, 15, 15);
  background-color: white;
  border-radius: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 200ms ease;
}

.product-variation-item {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
  display: block;
  margin: 5px 0;
}

.product-variation-item:hover {
  border: 1px solid rgb(136, 136, 136);
  background-color: rgb(202, 202, 202);
}

.product-variation-item.selected {
  border: 1px solid rgb(109, 109, 109);
  background-color: rgb(201, 201, 201);
}

@keyframes scrollInfoJump {
  0% {
    transform: translate(-50%, 6px);
  }
  20% {
    transform: translate(-50%, 3px);
  }
  50% {
    transform: translate(-50%, 0px);
  }

  70% {
    transform: translate(-50%, 2px);
  }

  90% {
    transform: translate(-50%, 4px);
  }

  100% {
    transform: translate(-50%, 6px);
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --navigationHeight: 60px;
  }
}
