/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cardo", serif;
}

.signature {
  display: block;
  font-family: "Parisienne", cursive;
  font-size: 1.5rem;
}

:root {
  --navigationBackGroundColor: rgba(236, 236, 236, 0.897);
  --menuBackGroundColor: rgba(236, 236, 236, 0.897);
  --navigationColor: rgb(21, 45, 97);
  --navigationHeight: 80px;
  --socialMediaStickerBackGroundColor: rgba(255, 255, 255, 0.637);
  --socialMediaStickerBackGroundColorOnHover: rgba(255, 255, 255, 0.747);
  --textColorBright: rgb(223, 213, 213);
  --textColorDark: rgb(21, 45, 90);
}

html {
  font-size: 18px;
}

.arrowDown {
  display: inline-block;
}

.arrowDown:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: var(--textColorBright);
  transform: rotate(-45deg);
}
.arrowDown:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: var(--textColorBright);
  transform: translateX(6px) rotate(45deg);
}

a {
  display: inline-block;
  text-decoration: none;
}

.gradient-dark {
  background-image: linear-gradient(145deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.gradient-bright {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)
  );
}

@media only screen and (max-width: 600px) {
}
