#main {
  margin-top: var(--navigationHeight);
}

a {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.box {
  height: calc(100vh - var(--navigationHeight));
  background-color: rgb(9, 58, 104);

  background: linear-gradient(45deg, rgb(9, 58, 104), rgb(166, 192, 197));
  display: block;
  color: white;
  font-size: 1.5rem;
}

.box:nth-child(even) {
  background-color: rgb(7, 114, 91);
  background: linear-gradient(to top left, rgb(7, 114, 91), rgb(166, 192, 197));
}

@media only screen and (max-width: 700px) {
  #container {
    grid-template-columns: 100%;
  }

  .box {
    height: calc((100vh - var(--navigationHeight)) / 2);
  }
}
