#main {
  margin-top: var(--navigationHeight);
}

h1 {
  text-align: center;
}

a {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.box {
  height: 40vh;
  background-color: rgb(9, 58, 104);
  background: linear-gradient(45deg, rgb(9, 58, 104), rgb(166, 192, 197));
  display: block;
  color: white;
  font-size: 1.5rem;
}

.box:nth-child(even) {
  background-color: rgb(7, 114, 91);
  background: linear-gradient(to top left, rgb(7, 114, 91), rgb(166, 192, 197));
}

@media only screen and (min-width: 700px) {
}
